{% load static %}
<meta name="app-url" content="/" />
<meta name="file-base-url" content="public/" />
<meta name="robots" content="index, follow" />
<meta name="author" content="linux99" />
<meta itemprop="image" content="{% static 'images/logo.png' %}" />
<meta name="description" content="Travail de recherche" />
<meta name="keywords" content="projet tutoretsm isig Goma, Rdc" />
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Subnet Project" />
<meta
  itemprop="description"
  content="Ce projet est fait dans le but d'obtention d'une mention tres bien... et c'est un projet de fin d'etude"
/>
<meta itemprop="image" content="{% static "images/logo.png" %}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="product" />
<meta name="twitter:site" content="www.jewstrading.com" />
<meta name="twitter:title" content="Tutoret Project" />
<meta name="twitter:description" content="E-commerce" />
<meta name="twitter:creator" content="linux99" />
<meta name="twitter:image" content="{% static "images/logo.png" %}">

<!-- Open Graph data -->
<meta property="og:title" content="E-commerce" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/" />
<meta property="og:image" content="{% static "images/logo.png" %}" />
<meta property="og:description" content=" E-commerce" />
<meta property="og:site_name" content="E-commerce" />
<meta property="fb:app_id" content="" />
<!-- Favicon -->
<link rel="icon" href="{% static "images/logo.png" %}" /> <link rel="stylesheet"
href="{% static "vendor/dist/css/bootstrap.min.css" %}" /> <link
rel="stylesheet" href="{% static "vendor/css_js/css.css" %} " /> <link
rel="stylesheet" href="{% static "vendor/icons/font/bootstrap-icons.css" %}" />
<link rel="stylesheet" href="{% static "vendor/dist/css/bootstrap.min.css" %}"
/> <link rel="stylesheet" href="{% static "vendor/css_js/css.css" %}" /> <link
rel="stylesheet" href="{% static "vendor/css_js/lightgallery.min.css" %}" />
<link rel="stylesheet" href="{% static "vendor/icons/font/bootstrap-icons.css"
%}" />
<script
  src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js"
  crossorigin="anonymous"
  defer
></script>
<link
  href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css"
  rel="stylesheet"
  crossorigin="anonymous"
/>
<!-- CSS Files -->
<link rel="stylesheet" href="{% static "vendor/css_js/lightgallery.min.css" %}"
/> <link rel="stylesheet" href="{% static "css/vendors.css" %}" /> <link
rel="stylesheet" href="{% static "css/custom-style.css" %}" /> <link
rel="stylesheet" href="{%static "css/aiz-core.css" %}" /> <link href="{% static
"vendor/selected2/dist/css/select2.min.css" %}" rel="stylesheet" />
<script>
  var AIZ = AIZ || {};
  AIZ.local = {};
</script>
